<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Cuisine Name</th>
      <th scope="col">Item Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col" >Action</th>
      <th scope="col" style="display: none;">ID</th>
      <th scope="col" style="display: none;">ROWID</th>

    </tr>
  </thead>
  <tbody>
    
    <tr *ngFor = "let tempItem of itemsList;let i=index;">
      <td><input type="text"  [(ngModel)]="tempItem.cuisine"   value="{{ tempItem.cuisine }}"/></td>
      <td><input type="text" [(ngModel)]="tempItem.itemName"   value="{{ tempItem.itemName }}"/></td>
      <td><input type="text" [(ngModel)]="tempItem.description"  value="{{ tempItem.description }}"/></td>
      <td><input type="text" [(ngModel)]="tempItem.price"  value="{{ tempItem.price }}"/></td>
      <td><input type="button" (click)="addToCart(tempItem)" value="Add To Cart"/></td>
      <td><input type="text" [(ngModel)]="tempItem.id"  value="{{ tempItem.id }}" style="display: none;"/></td>
    </tr>

  </tbody>
</table>

<input type="button"  (click)="goToCart()"  value="Go To Cart"/>