<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="/assets/img/foodboxicon1.png" id="icon" alt="User Icon" />
    </div>

    <!-- register Form -->
    
      <input type="text" [(ngModel)]="userDetails.userName"  id="name" class="fadeIn second"  placeholder="Name">
      <input type="text" [(ngModel)]="userDetails.email" id="email" class="fadeIn third"  placeholder="Email">
      <input type="text" [(ngModel)]="userDetails.phoneNr" id="phone" class="fadeIn second" placeholder="Phone">
      <input type="text" [(ngModel)]="userDetails.password" id="password" class="fadeIn third"  placeholder="Password">
      <input type="button" (click)="registerUser(userDetails)"  class="fadeIn fourth" value="Submit">
   


  </div>
</div>
