<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="/assets/img/foodboxicon1.png" id="icon" alt="User Icon" />
    </div>

    <!-- Forgot password Form -->
    <div>
      <input type="text" id="userName" [(ngModel)]="userDetails.email"  class="fadeIn second" placeholder="User Name">
    </div>
    <div>
      <input type="text" id="password1" [(ngModel)]="userDetails.password" class="fadeIn third" placeholder="New Password">
    </div>
    <div>
      <input type="text" id="password2" class="fadeIn third"  placeholder="Confirm Password" >
    </div>
    <div>
      <input type="button" (click)="updatePassword(userDetails)" class="fadeIn fourth" value="Submit" >
    </div>



  </div>
</div>