<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Cuisine Name</th>
        <th scope="col">Item Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Enable/Disable</th>
        <th scope="col">Update</th>

      </tr>
    </thead>
    <tbody>
      
      <tr *ngFor = "let tempItem of itemsList">
        <td><input type="text"  [(ngModel)]="tempItem.cuisine"   value="{{ tempItem.cuisine }}"/></td>
        <td><input type="text" [(ngModel)]="tempItem.itemName"   value="{{ tempItem.itemName }}"/></td>
        <td><input type="text" [(ngModel)]="tempItem.description"  value="{{ tempItem.description }}"/></td>
        <td><input type="text" [(ngModel)]="tempItem.price"  value="{{ tempItem.price }}"/></td>
        <td><input type="text" [(ngModel)]="tempItem.enable"  value="{{ tempItem.enable }}"/></td>
        <td><input type="button" (click)="updateItem(tempItem)" value="Update"/></td>
      </tr>

    </tbody>
  </table>

  <input type="button"  (click)="addRow()"  value="Add New Row"/>